@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');

body{
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scrollbar-width: thin;
}

body::-webkit-scrollbar {
    width: 0.01em; 
}

body::-webkit-scrollbar-thumb {
    background-color: transparent; 
}

.Joker-pc_logo{
    display: block;
    margin: auto;
}

.header_links{
    display: flex;
    justify-content: right;
    color:  #fec0b2 ;
    font-family: 'Oxygen', sans-serif;
}

.h2-class{
    display: flex;
    justify-content: center;
    color:  #fec0b2 ;
    font-family: 'Oxygen', sans-serif;
}

.h3-class{
    display: flex;
    justify-content: center;
    color:  #fec0b2 ;
    font-family: 'Oxygen', sans-serif;
}

.ul-class{
    font-family: 'Oxygen', sans-serif;
}


.contact_nav{
    color: white;
}

textarea {
    resize: none;
}